body {
    margin: 0;
    font-family: 'Pacifico', cursive;
    color: #6363AD;
    background-image: url("images/down_background.jpg");
    background-color: #cccccc;
    A:active { text-decoration: none }
}
a:active{
	text-decoration: none;
}

.head_container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-decoration: none;
	padding: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin:0;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 30px;
	background-color: #ffffff;
	margin-right: 10%;
	margin-left:  10%;
	border-radius: 25px;
	text-align: center;
}

.container_box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 30px;
	border-radius: 25px;
	max-width: 851px;
	max-height: 771px;
}

.cust_test {
	background-color: #889396;
	font-size: 19px;
	border-radius: 25px;

}
.testimony {
	color: #D8FFFD;
}

.left_box {
		font-size: 30px;
		border-radius: 25px;
}
.nav_buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin:0;
}

.button {
	font-size: 20px;
	background-color: #B0B1D5;
	color: white;
	border-radius: 12px;
	border: none;
}

